{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Cystody",
    "description": "Cystody's OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.cystody.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/account": {
      "post": {
        "description": "Create a new user in the Cystody system.",
        "requestBody": {
          "description": "Details of the user to be added to the system",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response for creating a user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/address": {
      "get": {
        "description": "Хэрэглэгчийн сонгосон койн, токений дагуу тухайн хэрэглэгчид шинээр блокчейн хаяг үүсгэх эсвэл үүссэн бол шууд буцаах үйлдлийг хийнэ.",
        "parameters": [
          {
            "name": "accountID",
            "in": "query",
            "description": "Unique ID of the user in Cystody.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "The blockchain network for which the address is to be created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blockchain address for the selected network",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/withdraw": {
      "post": {
        "description": "Initiate a withdrawal request for the user.",
        "requestBody": {
          "description": "Details of the withdrawal request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response for the withdrawal request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/balance": {
      "get": {
        "description": "Retrieve the balance of a user for the selected network.",
        "parameters": [
          {
            "name": "accountID",
            "in": "query",
            "description": "Unique ID of the user in Cystody.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "description": "The blockchain network for which the balance is to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User's balance on the selected network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "required": ["uid", "merchantUid", "mobile", "createdAt"],
        "type": "object",
        "properties": {
          "uid": {
            "description": "Unique ID of the user in Cystody.",
            "type": "string"
          },
          "merchantUid": {
            "description": "User's ID in the merchant system.",
            "type": "string",
            "format": "uuid"
          },
          "mobile": {
            "description": "User's mobile number.",
            "type": "string"
          },
          "createdAt": {
            "description": "Timestamp when the user was created.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Address": {
        "required": ["address"],
        "type": "object",
        "properties": {
          "address": {
            "description": "Generated blockchain address.",
            "type": "string"
          }
        }
      },
      "CreateAccountRequest": {
        "required": ["merchantUid", "mobile", "email"],
        "type": "object",
        "properties": {
          "merchantUid": {
            "description": "Merchant системийн хэрэглэгчийн ID.",
            "type": "string",
            "format": "uuid"
          },
          "mobile": {
            "description": "Хэрэглэгчийн гар утасны дугаар.",
            "type": "string"
          },
          "email": {
            "description": "Хэрэглэгчийн цахим хаяг."
          }
        }
      },
      "CreateAccountResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/Account"
          }
        }
      },
      "WithdrawRequest": {
        "required": ["withdraw_type", "from_uid", "symbol", "coin_network", "to_address", "merchant_txn_id", "wallet", "merchantID", "accountID", "amount"],
        "type": "object",
        "properties": {
          "withdraw_type": {
            "type": "string"
          },
          "from_uid": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "coin_network": {
            "type": "string"
          },
          "memo": {
            "type": "string"
          },
          "to_address": {
            "type": "string"
          },
          "merchant_txn_id": {
            "type": "string"
          },
          "wallet": {
            "type": "string"
          },
          "merchantID": {
            "type": "string"
          },
          "accountID": {
            "description": "Cystody систем дээрх хэрэглэгчийн хаягийн ID.",
            "type": "string"
          },
          "amount": {
            "description": "Amount to withdraw.",
            "type": "number",
            "format": "float"
          }
        }
      },
      "WithdrawResponse": {
        "type": "object",
        "properties": {
          "transferID": {
            "description": "Гүйлгээний дахин давтагдашгүй ID.",
            "type": "string"
          },
          "merchant_txn_id": {
            "description": "Merchant систем дээрх гүйлгээний ID.",
            "type": "string"
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "balance": {
            "description": "The user's balance.",
            "type": "number",
            "format": "float"
          },
          "currency": {
            "description": "Currency of the balance.",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": ["status", "message"],
        "type": "object",
        "properties": {
          "status": {
            "description": "Алдааны статус код.",
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "description": "Алдааны мэдээлэл.",
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
